*{
  margin: 0px;
  padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
  font-family: 'Oswald', sans-serif;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(117, 117, 117, 0.37);
  height: 100px;
  width: auto;
}

.formHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  padding-right:50px;
}
.formHeader a{
  text-decoration: none;
  color: black;
  font-size: x-large;

}
.logo{
  width: 100px;
  height: 100px;
  padding-left: 15px;
}
.tienda{
  display:flex;
  flex-direction: column;
  width: 1500px;
}
.separador{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;

}
.productosDelCarrito{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}
.productosDelCarrito img{
  width: 350px;
}
.productosDelCarrito div{
  border-color: gray;
  padding: 5px;
}
.productosDelCarrito .infoProductos button{
  border: none;
  width: 100px;
  height: 50px;
  background-color: #969696;
  font-size: medium;
  margin-right: 7px;
  transition: 0.3s;
}
.productoMap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 50px 1px gray; 

}
.productosDelCarrito .infoProductos button:hover{
  background-color: black;
  color: white;
}
.home{
  background-image: url(https://wallpaperaccess.com/full/1597771.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1050px;
  width: auto;
}
.home p{
  text-align: center;
  color: #932b2c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 150px;
  height: 1000px;
}
.infoProductos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.compras{
  display: flex;
  flex-direction: row;
}

.tmcc{
  display: flex;
  flex-direction: column;
}
.tagsRopa{
  display: flex;
  flex-direction: row;

  height: 100px;
  align-items: center;

}
.tagsRopa li a{
  text-decoration: none;
  color: black;
}
.tagsRopa li{
  margin: 15px;
  list-style: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.342);
  transition: 0.5s;
}
.tagsRopa li:hover{
  border-bottom: 1px solid rgb(0, 0, 0);
}
.search{
  border-bottom: 1px solid rgba(128, 128, 128, 0.342);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.busqueda{
  height: 40px;
}
.busqueda input{
  background-color: rgba(128, 128, 128, 0.342);
  border: none;
  padding-left: 10px;
}
.busqueda button{
  height: 40px;
  width: 70px;
  border: none;
  background-color: #969696;
  transition: 0.3s;
}
.busqueda button:hover{
  background-color: black;
  color: white;
}
.container{
  width: 1400px;
  background-color: rgba(255, 255, 255, 0.774);
  margin-top: 15px;
}
.container h1{
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.containerPadre{
  display: flex;
  justify-content: center;
  background-image: url("./nikeWallpaper.jpg");
}
.itemListContainer img{
  background-color: white;
}

