.itemListContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.producto{
    width: auto;
    
}

.infoProductos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-left: 10px;
  }
  .producto .infoProductos button{
    border: none;
    width: 100px;
    height: 50px;
    background-color: #969696;
    font-size: medium;
    margin-right: 7px;
    transition: 0.3s;
  }
  .producto .infoProductos button:hover{
    background-color: black;
    color: white;
  }
  .producto img{
    width: 350px;
  }
  .producto div{
    border-color: gray;
    box-shadow: 1px 1px 200px 1px gray; 
    padding: 5px;
  }